/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }

/********** FONT *********/
@font-face {
    font-family: 'notokr-regular';
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype'),
         url('notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준********/
/************* 2020.01 YJ *************/
/*-------------------------------------*/

html {}
body { position: relative; background: #fff; letter-spacing: -0.02em; font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }



/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh;background:#fff; 
position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 150px;position: absolute; top: 50%;margin-top: -100px; }
.loading-gif > p {  text-align: center; color: #2c3873; margin-top: 20px; font-size: 14px; opacity: 0.5; 
font-family: sans-serif; font-weight: bold;}
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #333c4e;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-ment { text-align: center;  margin-top: 10px; font-weight: normal; color: #333c4e;letter-spacing: 2px;}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }

/*****IE 블락******/
.ie-block {  z-index: 99999; width:100%; height:100vh; background:#111; background: rgba(21, 21, 21, 0.9);position:fixed; top:0;left:0;bottom:0;right:0;}
.ie-block .alert-msg { position: absolute; background:#fff; box-sizing: border-box; padding: 25px; border-radius: 5px; 
box-shadow: 2px 2px 8px rgba(152, 153, 156, 0.2);width: 50%; left:25%; top: 50%; margin-top:-150px; }
.ie-block .alert-msg p { margin-bottom:8px;  text-align: center; color: #454750;font-size: 20px; }
.ie-block .alert-msg button {    display: block; width: 80%; margin: 0px auto;margin-top: 20px;
box-sizing: border-box;  padding: 10px; background: #ececf1;  border-radius: 4px; color: #565661; font-weight: bold; font-size: 14px; cursor: pointer; border: 1px solid #dedee2; letter-spacing: -0.05em; }


/* Header */
.interactive-header {  background: rgba(0,0,0,0.85); position: fixed;padding: 0px 7px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height:  32px; z-index: 100;  display:none;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; } 
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; }
.interactive-header .khan_btn img { width:60px; height: auto; margin-top: 8px; opacity:0.7;}
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

/* common_header */
.common_header {  width: 100%;  position: relative;  box-shadow: 0px 0px 20px rgba(102, 103, 107, 0.15); border-bottom: 1px solid #cdd1d6;   z-index: 1;background: #fff;}
.common_header .top_area_holder{ width: 100%;  height: 30px; background: #f5f5f5; }
.common_header .top_area {  width: 1050px; margin: 0 auto; height: 30px;  line-height: 29px; overflow: hidden; font-size: 12px;}
.common_header .top_area .family_site {  float: left;margin: 0;}
.common_header .top_area .family_site dd a {  color: #898989; font-size: 12px; }
.common_header .top_area .family_site dd span { color: #dfdfdf; padding: 0 2px; font-size: 12px;}
.common_header .top_area .membership {  float: right; }
.common_header .top_area .membership dd { float: left; margin-right: 6px;  padding-right: 4px;}
.common_header .top_area .membership dd a.log {font-weight: bold;color: #3b57c4; }
.common_header .top_area .membership dd span {  color: #dfdfdf;padding: 0 1px; font-size: 12px; }
.common_header .top_area  .membership dd a { color: #898989;font-size: 12px;}
.common_header .logo_area { width: 1050px;  margin: 0 auto; border-bottom: none; height: 124px;position: relative;}
.common_header .sec_title {  font-size: 38px;letter-spacing: -2px;line-height: 50px;text-align: center;  padding-top: 30px;}
.common_header .sec_title a { color:#111; }
.common_header .sub_logo { position: absolute; top: 21px;  left: 0; z-index: 5;}
.common_header .sub_logo a {  background: url("http://img.khan.co.kr/spko/sub_2016/sub_logo.png") no-repeat scroll 0 0; width: 134px;height: 31px; display: block;text-indent: -9999px;}
.common_header  .logo_area .sns_wrap {  position: absolute;top: 84px; right: 0;  z-index: 30;}
.common_header .logo_area .sns_wrap .social li { float: left;background: url("http://img.khan.co.kr/spko/main_2015/set_common.png?v=20180927") no-repeat scroll 0 0 transparent;
width: 27px; height: 30px;}
.common_header  .logo_area .sns_wrap .social li.facebook {  background-position: 0 0; margin-right: 5px;}
.common_header  .logo_area .sns_wrap .social li.twitter { background-position: -32px 0; margin-right: 6px;}
.common_header  .logo_area .sns_wrap .social li.instagram {  background-position: -121px 0;margin-right: 4px;}
.common_header  .logo_area .sns_wrap .social li.youtube {  width: 35px; background: url("http://img.khan.co.kr/spko/main_2015/icon_header_youtube.png") no-repeat scroll 0 0 transparent;
 background-position: 0 0; margin-right: 14px;}
.common_header .logo_area .sns_wrap .social li a { display: block; width: 27px;   height: 30px;text-indent: -9999px;}
/* common_header */
#header-m { display:none; }
.art_header { display:none; }
.common-footer #footer-m { display:none;}

.wrap { width:100%;  position: relative;  }
.container {  width:100%; position: relative; min-height: 100vh;}
.container .page { width: 100%;  overflow: hidden; height:100%; position: relative; display:none;   }
.container .page--1 {}
.container .page--2 {}
.container .page--3 {}
.container .page-intro { display: block;    padding-bottom: 50px;}
.back-deco { position: absolute;top: 0; left: 0; z-index: -1;}
.deco-circle { width: 500px; height:500px;border-radius: 50%; }
.deco-circle-green { background:#40a778;  top: -100px; right: -100px; left:auto; animation: 3s floating cubic-bezier(.36,.07,.19,.97) infinite;}
.deco-circle-red  {  background:#fe7531; top: auto; top: 700px; left:-300px;  animation: 2.5s floating cubic-bezier(.36,.07,.19,.97) infinite; }
.deco-pie {}
.deco-pie .each-pie { position: absolute; top:0;left:0; }
.deco-pie .each-pie-shadow {} 
.deco-pie-up .each-pie-shadow { top: 20px; left: 20px; animation: floating 2s cubic-bezier(.36,.07,.19,.97) infinite;}
.deco-pie-up { right: 300px; top: 200px; left: auto; }
.deco-pie-bottom { left: 100px; top: 700px;}
.deco-pie-bottom  .each-pie-shadow { top: 20px; left: 20px; animation: floating 2.5s cubic-bezier(.36,.07,.19,.97) infinite;} 

@keyframes floating {
	0%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}
	50%{-webkit-transform:translateY(-8px); transform:translateY(0)}to{-webkit-transform:translateY(-8px); transform:translateY(-8px)}	
}

.story-title { position: relative; box-sizing: border-box; margin: 50px 0;}
.story-title .head-graph { width: 100%; position: relative; }
.story-title .head-graph #headGraph {opacity: 0.65;}
.story-title .title-img-area {position: absolute; width: 1013px; height: 600px; top: 0;left: 50%; margin-left: -506px; }
.story-title .title-img-area .title-up { top: 220px; position: absolute; width: 1013px; height: 82px;  z-index: 2;}
.story-title .title-img-area > div > .title-img { overflow: hidden;  height: auto; position: relative; }
.story-title .title-img-area .title-down { position: absolute; width: 654px; height: 74px;left: 50%; top: 300px; margin-left: -327px;  z-index: 1;}
.top-byline {     margin: 20px auto;}
.top-byline .top-border p { font-size: 13px; line-height:21px;text-align: center; }
.top-byline .top-border p strong { margin: 0px 5px; }
.top-byline .top-border p .jump { display:block; }
.pc-share {  width: 95px; margin: 0 auto; }
.pc-share .share_bx { }
.pc-share .share_bx::after { display: block; clear: both; content:''; }
.pc-share .share_bx { float: none; top:0; }
.pc-share .share_bx > div { float:left;  cursor: pointer;}
.pc-share .share_bx > div a { width: 100%; }
.pc-share .share_bx > div a img { width:100%; }
.pc-share .share_bx > .share_fb {width: 25px; margin: 7px 7px;}
.pc-share .share_bx > .share_tw {width: 40px; margin: 7px 7px;}
.page-intro .intro-des { font-size: 24px;  max-width: 700px;text-align: left; font-weight: 500;color: #222; margin: 50px auto; 
line-height: 1.7; letter-spacing: -0.3px;/*  word-break: keep-all; */}
.page-intro .intro-des p { margin: 30px auto; }
.page-intro .intro-des .jump { display:block; font-size: 18px;  margin-top: 10px;}

.btn-holder { margin: 100px auto; width:100%; margin-bottom: 0;}
.button { transition:all 0.2s ease 0s; width: 300px;box-sizing: border-box; padding: 25px 20px; text-align: center; margin: 0 auto;    border-radius: 4px;  background: #333;cursor: pointer;}
.button p { color:#fff;font-size: 18px;font-weight: 400; opacity: 0.8;}
.button p .icon {    display: inline-block;  margin-left: 10px; }
.btn-green { background: #2b9867;}
.btn-black { background:#111; }
.button:hover {box-shadow: 10px 10px 15px rgba(61, 61, 70, 0.25); transform: translate(5px, 0px); }
.button:hover p { opacity:1; }

.page-test { width: 100%; height:100%; }
.test-area { position: relative; padding: 100px 0; }
.test-area .test-area-header { text-align: center; width: 100%; background:#eaeff6; box-sizing:border-box; padding: 50px 0; 
background: none; max-width: 600px; margin: 0 auto; border-top: 2px solid #111; border-bottom: 2px solid #111;}
.test-area .test-area-header h2 { color: #2d343e; color:#111; margin-bottom: 10px; font-size: 30px; line-height: 1; font-weight: 900;text-shadow: 2px 2px 0px rgba(255,255,255,0.8);}
.test-area .test-area-header .test-des { font-size: 18px; color: #5e636b; }
.test-area .test-area-header .test-des-sm { margin-top: 20px; font-size: 14px;  color:#222; opacity:0.5; }
.test-area-body {position: relative; padding: 30px 0;  }
.test-area-body .que-list {max-width: 800px; margin: 0 auto; }
.test-area-body .que-list > ul { width: 100%; }
.test-area-body .que-list > ul > li {margin: 80px auto; }
.each-que-lead { margin-bottom: 30px; text-align: center;font-size: 20px;}
.each-que-lead .numbering {  display: inline-block; margin: 0px 10px; box-sizing: border-box;
padding: 1px 10px; background: #e8e8e8;color: #000;font-weight: 300;}
.each-que-lead .que {}
.each-que-lead .que u {text-decoration: none;  font-weight: bold;  border-bottom: 2px solid #222;}
.radioBtn-holder {width: 100%;  max-width: 550px;margin: 0 auto;}
.radioBtn-holder .anw-major { display: inline-block; float: left; position: relative;}
.radioBtn-holder .anw-minor { display: inline-block; float: right; position: relative;}
.radioBtn-holder .border { display: inline-block; float: left; width: 2px;    height: 20px;
 background: #8c8c8c; margin: 0px 79px;margin-top: 20px; display:none;}
.radioBtn-holder > ul > .title { position: absolute; line-height: 50px; font-weight: bold; opacity: 0.8;}
#queList li .each-scale { display: table-cell;position: relative;text-align: center; vertical-align: top;  padding: 0px 5px;} 
#queList li .each-scale .anw-button {position: relative; width: 50px; height: 50px;transition:all 0.2s ease 0s;
border-radius: 100%!important; display: block; background: #fff; border: 10px solid #111; box-sizing: border-box; cursor: pointer; }
.anw-button {opacity:0.5;}
#queList li .anw-major .each-scale .anw-button { border-color:#fe7531;}
#queList li .anw-minor .each-scale .anw-button { border-color:#2b9867;}
#queList li .anw-major .title {left:-70px; text-align: left; color:#fe7531;}
#queList li .anw-minor .title {right:-85px;text-align: right;  color:#2b9867; }
#queList li .each-scale .anw-button:hover { opacity:1; box-shadow: 2px 2px 4px rgba(0,0,0,0.2);}
#queList li .scale-5 .anw-button { width: 50px; height:50px; }
#queList li .scale-4 .anw-button {width: 45px; height:45px;margin-top: 5px;  }
#queList li .scale-3 .anw-button {width: 40px; height:40px; margin-top: 8px;}
#queList li .scale-2 .anw-button {width: 35px; height:35px; margin-top: 13px;}
#queList li .scale-1 .anw-button {width: 25px; height:25px; margin-top: 20px;}
.radio-hidden {  display:none; } 
#queList li .radioBtn-holder::after { clear:both; content:""; display:block; }
.each-scale input[type=radio]:checked + .anw-button { opacity:1;}
#queList .anw-minor .each-scale input[type=radio]:checked + .anw-button { background: #6dbd99;}
#queList .anw-major .each-scale input[type=radio]:checked + .anw-button { background: #fdccb3;}

.user-info-form {  background: #eaeff6;  box-sizing:border-box; padding: 50px 0px; max-width: 800px; margin: 0 auto;}
.user-info-que-header {text-align: center; width: 100%; background:#eaeff6; box-sizing:border-box; max-width: 700px; margin: 0 auto; margin-bottom: 40px;}
.user-info-que-header .des { font-size: 16px; color: #5e636b;}
.user-info-que-list { max-width: 800px; margin: 0 auto;}
.user-info-que-list > ul { text-align: center; }
.user-info-que-list > ul > li { margin: 40px auto;}
.user-info-que-list .each-que-lead { margin-bottom: 20px; }
.anw-noraml {}
.anw-noraml .each-scale { display: inline-block; position: relative;text-align: center; vertical-align: top;  padding: 0px 15px;}
.anw-noraml .each-scale .anw-button {transition:all 0.2s ease 0s;position: relative; width: 35px; height: 35px;
border-radius: 100%!important; display: block; background: none; border: 10px solid #111; box-sizing: border-box; cursor: pointer; opacity:0.4;}
.anw-noraml .each-scale .anw-button:hover{ opacity:1; box-shadow: 2px 2px 4px rgba(0,0,0,0.2);}
.que-info { font-size: 14px; color: #222; opacity: 0.6;  margin-top: 10px;}
.label-text {font-size: 14px; color: #222; opacity: 0.8;  text-align: center;  margin-top: 5px;}
.each-que-lead .sm { display:block;margin-top: 10px; font-size: 17px; line-height: 1.5;  opacity: 0.6;
 color: #293240; font-weight: 600;}
.text-area-holder {max-width: 500px;  margin: 0 auto; width: 100%; }
.form-text-area { width: 100%; padding: 20px; font-size: 1rem;font-weight: 400;line-height: 1.6;  color: #495057;
 background: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 5px;font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif;  }
.form-text-area:focus { box-shadow: 8px 8px 20px rgba(0,0,0,0.2);}

.bottom-fixed-bar { position: fixed; bottom: 0; left: 0; width: 100%; height: 40px;   z-index: 20;}
.bottom-fixed-bar .progress-bar { width: 100%; height: 100%;background:#fff; box-shadow: 0px 0px 15px rgba(65, 65, 74, 0.2);}
.bottom-fixed-bar .progress-bar .progress-body { height:100%; width: 0%; background:#2b9867; }
.bottom-fixed-bar .progress-bar .progress-text { position: absolute;   top: 0;  left: 0;width:100%; text-align: center; color:#111; text-shadow: 1px 1px 0px rgba(255,255,255,0.4); }
.bottom-fixed-bar .progress-bar .progress-text p { font-size: 16px; line-height: 40px; font-weight: bold; letter-spacing: 5px; }
.bottom-fixed-bar .progress-bar .progress-text p .done{ }
.button-blocked { pointer-events: none; opacity: 0.4;}

.page-result { }
.result-area { position: relative; padding: 100px 0; }
.user-result { margin-bottom:100px; width: 100%; max-width: 800px; margin:0 auto; }
.user-result-header {  box-sizing: border-box;
 padding: 50px 0;background: none; max-width: 600px; margin: 0 auto;border-top: 2px solid #111; border-bottom: 2px solid #111; }
.user-result-header h2 {  color: #111;  margin-bottom: 10px; font-size: 30px; line-height: 1;
 font-weight: 900;text-shadow: 2px 2px 0px rgba(255,255,255,0.8);     text-align: center;}
.user-result-header .user-result-desc {  font-size: 18px; color: #5e636b; }
.user-result-body { width: 100%; margin-bottom: 30px; }
.user-result-body .user-result-box { width:100%; }
.result-chart { box-sizing:border-box; padding: 30px; position: relative; }
.result-chart .user-result-chart-holder {position: relative; }
.result-chart .user-result-chart-holder svg { }
.result-table {margin-top: 20px; width: 100%; max-width: 500px; margin: 0 auto; 
 box-sizing: border-box;  padding: 15px 20px; background: #f4f5f7; border-radius: 5px;}
.result-table ul { position: relative; width:100%; overflow:hidden; }
.result-table ul li {width: 50%; float:left; margin: 5px 0; }
.result-table ul li .text { display:inline; }
.result-table ul li .text .head { font-weight: bold; color:#222;padding-right: 10px; }
.result-table ul li .text .majororminor { padding: 0px 5px; }
.result-table ul li .text .minor { color:#f16d48;}
.result-table ul li .text .major { color: #40a778; }
.result-table ul li .scale-block-holder {display:inline; }
.result-table ul li .scale-block-holder .scale-block {    width: 15px; height: 15px; background: #111; display: inline-block;
 margin: 0px 1px;  border-radius: 2px;} 
.result-table ul li .block-major .scale-block { background:#40a778; }
.result-table ul li .block-minor  .scale-block{ background:#f16d48; }
.result-table ul::after {clear: both; content: ""; display:block; }

.result-percent-bar { max-width: 500px; margin: 30px auto; }
.result-percent-bar .percent-bar {  width: 100%;  height: 30px; background: #2b9867; border-radius: 4px; position: relative; }
.result-percent-bar .percent-bar .bar-body { width: 100%; background: #f16d48; height:100%;  border-radius: 4px;}
.result-percent-bar .percent-bar .user-pos { position: absolute; width:1px; height: 40px; top:-5px; background:#111; }
.result-percent-bar .percent-bar .side-major { position: absolute; right: 0px; top: -25px; font-size: 15px; color:#2b9867;  }
.result-percent-bar .percent-bar .side-minor { position: absolute; left: 0px; top: -25px; font-size: 15px; text-align: right; color:#f16d48;}


.user-result-share {  margin-top: 20px; }
.user-result-share .des { font-size: 16px; color: #5e636b;  text-align: center;}
.totalUserNumb { font-weight:bold; border-bottom: 2px solid #111; color: #111;}
.user-result-share .user-share-btn-box {  max-width: 500px; margin: 30px auto; }
.user-result-share .user-share-btn-box::after {clear: both; content: ""; display:block; }
.user-share-btn { width: 48%; margin: 0 1%; background:#222; color:#fff; font-size: 14.5px; box-sizing: border-box;
padding: 15px; text-align: center; float: left; border-radius: 2px;cursor: pointer; transition:all 0.2s ease 0s;font-weight: bold;}
.user-share-btn:hover { box-shadow: 10px 10px 15px rgba(61, 61, 70, 0.25); transform: translate(5px, 0px); }
.fb:hover { background: #35588c; }
.tw:hover { background: #00a4e2;}
.user-share-btn span { padding-left: 5px;vertical-align: top; }
.user-share-btn span img { height: 20px; vertical-align: top; }
.interviewee-result { margin-top: 150px;}
.interviewee-result-header { box-sizing: border-box;  padding: 50px 0;  background: none; max-width: 600px;  margin: 0 auto;  border-top: 2px solid #111;  border-bottom: 2px solid #111;}
.interviewee-result-header h2 {color: #111;  margin-bottom: 10px; font-size: 30px; line-height: 1; font-weight: 900;text-shadow: 2px 2px 0px rgba(255,255,255,0.8);text-align: center; }
.interviewee-result-body { width: 100%;}
.interviewee-list { }
.each-interviewee { margin: 70px auto; max-width: 1000px;}
.interviewee-left {}
.interviewee-right {box-sizing: border-box;padding-top: 50px; border-top: 1px dashed #d8dae0;}
.each-interviewee .interviewee-col-2 {}
.each-interviewee .interviewee-col-2 > div {/* display: table-cell;  */ float: left;  }
.interviewee-right .interviewee-col-2 > div { float: right; }
.each-interviewee .interviewee-col-2 .col-profile { width: 250px; box-sizing: border-box;  }
.each-interviewee .interviewee-col-2 .col-profile .thumb-box {margin-bottom: 30px;} 
.each-interviewee .interviewee-col-2 .col-profile .thumb-box .thumb-img {  border-radius: 50%; overflow: hidden;width: 200px; margin: 0 auto;} 
.each-interviewee .interviewee-col-2 .col-profile .thumb-box .thumb-img img {width: 100%;} 
.each-interviewee .interviewee-col-2 .col-contents { width: 750px; box-sizing: border-box; padding: 0px 30px;  }
.each-interviewee .interviewee-col-2 .col-contents .article-ment { position: relative; }
.each-interviewee .interviewee-col-2 .col-contents .article-ment p {  font-size: 22px; text-align: left; font-weight: 500;color: #222;line-height: 1.7;letter-spacing: -0.3px; margin: 20px 0;  text-indent: 5px;}
.each-interviewee .interviewee-col-2 .col-contents .interviewee-chart  { margin-bottom: 70px; }
.go-article {color: #222;transition:all 0.2s ease 0s;position: absolute; right: 20px; width: 150px; text-align: right;cursor: pointer; opacity: 0.8;}
.go-article:hover {transform: translate(5px, 0px); opacity:1; } 
.each-interviewee .interviewee-col-2::after {clear: both; content: ""; display:block; }
.each-interviewee .result-table ul li { width: 100%; } 


/***** SVG ****/ 
.headGraph .label-text {fill-opacity: 0.5; }
#chart { display:none; }
svg {display: block;  margin: 0 auto; }
.circle-graph-holder {transform: rotate(-90deg);}
.axis path,.axis line {fill: none;stroke: #fff;shape-rendering: crispEdges;}
.x.axis path { display: none;}
.axis .tick {}
.axis .tick line {stroke-opacity: 0.2;}
.axis .tick text {fill: #fff;  font-weight: normal;fill-opacity: 0.5;transform: rotate(60deg) translate(5px, 5px);text-shadow: 1px 1px 0px #111;}
.user-result-chart-holder .each-graph { cursor: pointer; fill-opacity:0.5; } 
.user-result-chart-holder .graph-hover { fill-opacity:1; stroke: #fff;stroke-width: 2px;stroke-opacity: 0.8;} 
.graph-back { z-index:-1; }
.circle-graph-holder {z-index:1; }
.graph-semi-title {fill-opacity: 0.5; }
.tooltip {pointer-events: none; position: absolute; display: none; min-width: 50px; height: auto; background: #fff;
 padding: 9px 14px 6px 14px; border-radius: 2px; text-align: center;line-height: 1.3; color: #5B6770;box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);}
.tooltip span {font-weight: bold; color: #081F2C;}


/*****footer*****/
.footer-area {  background:#fff;  margin-top: 100px;  box-shadow: 0px -15px 20px rgba(0,0,0,0.05); border-top: 1px solid #cdd1d6; 
position: relative; z-index: 2; margin-top: 30px; }
.footer-area .copyright {}
.footer-area .copyright p { text-align: center; font-size: 14px; color:#555;line-height: 20px;  margin: 5px 0; }

.rel-article {  padding: 30px 0px; }
.rel-article .rel-box { width:100%; max-width: 750px; margin: 0 auto;   border: 1px solid #d2d1d6; border-bottom: 4px solid #222;}
.rel-article .rel-box-2 {   margin: 20px auto;}
.rel-article .rel-box-2 .rel-art-list { padding: 10px; }
.rel-article .rel-box .thumb { width:100%; position: relative; height: auto; }
.rel-article .rel-box .thumb a { width:100%; display:block; }
.rel-article .rel-box .thumb img { width:100%; }
.rel-article .rel-box .thumb .project-name { position: absolute; top: 10px; left:10px; background: #222;color:#fff;border-radius: 5px; font-weight: 300; 
 font-size: 18px; line-height:18px; padding: 8px 15px;text-align:center; color: #ddd; display: inline-block;display:none;  }
.rel-article .rel-box .rel-art-list { width:100%; box-sizing: border-box; padding: 20px 15px;position: relative;  }
.rel-article .rel-box .rel-art-list ul { width:100%; }
.rel-article .rel-box .rel-art-list ul li { margin: 6px 0px; text-align: center; }
.rel-article .rel-box .rel-art-list ul li a { text-align:left; color: #555; font-size: 17px; line-height:24px; }
.rel-article .rel-box .rel-art-list ul li a:hover { text-decoration: underline; }
.rel-article .rel-box .rel-art-list .more-btn { position: absolute; right: 10px; bottom: 10px; font-size: 14px;
color: #777;  background: url("http://img.khan.co.kr/spko/storytelling/2018/big/outlink.png") no-repeat; 
background-size: 15px 15px; padding-right: 20px;background-position: right;  cursor: pointer; opacity:0.7; }
.rel-article .rel-box .rel-art-list .more-btn:hover { opacity:1; }
.rel-article h4 { font-size: 16px;font-weight: 500;  text-align: center;margin-bottom: 20px;  margin-top: 20px;}

.bottom-byline {   width: 100%; max-width: 1050px;margin: 0 auto; margin-top: 20px;  }
.bottom-byline ul { font-family: 'Noto Sans KR', 'notokr-regular';   box-sizing: border-box; 
padding: 30px 0; text-align: center;  max-width: 500px; margin: 0 auto;}
.bottom-byline ul .team-wrap { width: 50%; float: left; }
.bottom-byline ul .team-wrap:nth-child(1) { margin-bottom: 15px; }
.bottom-byline ul::after { clear: both; content:''; display:block; }
.bottom-byline ul li { opacity:0.9;  font-weight: 300;font-size: 13px; line-height:20px; color:#222; letter-spacing: 0px; }
.bottom-byline ul li.team { font-weight: bold; font-size: 15px; opacity:1;   letter-spacing: -1px; margin: 5px 0px; }
.bottom-byline ul li.team span { margin: 0px 5px; font-size: 13px; position: relative; top: -2px; }
.bottom-byline ul li .roll { font-weight:bold; display: inline-block; margin: 7px 0px; }
.bottom-byline ul li a { display: inline-block;  color: #111;}
.bottom-byline ul li a:hover { /* background: rgba(129, 144, 255, 0.5);*/ text-decoration:underline; }

.digital-list-wrap { border-top: 1px solid #dbdbdb; }


/******common footer******/
.common-footer { margin-top: 30px;}
#footer { position:relative;width: 1050px; margin: 0 auto;}
#footer:after { clear: both; content: ""; display: block;}
#footer .foot_info { border-top:1px solid #b9bbbe; padding:25px 0 20px;}
#footer .foot_info:after { clear: both; content: ""; display: block;}
#footer .foot_info a { color:#888; font-size:12px; line-height:15px;}
#footer .foot_info h2 { float:left; margin:2px 70px 0 90px;}
#footer .foot_info .cnt { float:left; width:755px;}
#footer .foot_info .cnt .blind {display:block; overflow:hidden; left:-9999px; position:absolute; width:1px; height:1px; line-height:0; text-indent:-9999px; font-size:0;}
#footer .foot_info .cnt dd.first { margin-bottom:2px;}
#footer .foot_info .link dd {line-height: 18px;}
#footer .foot_info .link span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .link span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info .adr { margin-top:4px; color:#888; font-size:12px;}
#footer .foot_info .adr span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .adr span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info address { color:#aaa; float:left; font-family:Verdana, Sans-serif; font-weight:bold; font-size:11px; margin-top:6px;}
#footer .foot_info address strong { color:#4d89f7;}
#footer .foot_info .khRss { float:left; margin-left:5px; margin-top:2px;}
#footer .foot_info .khRss a { background:url('http://img.khan.co.kr/spko/main_2013/set_common.png') no-repeat scroll 0 -964px transparent; display:block; width:14px; height:17px; overflow:hidden; text-indent:-9999px;}
.gotomobile {text-align:center;} /* 모바일 화면으로 보기 링크 버튼 */



/*-------------------------------------*/
/***** 전체 기본 CSS - 모바일 기준******/
/*-------------------------------------*/

/***** 노트북 *****/
@media screen and (max-width: 1380px) {
.deco-circle {width:450px; height:450px;  }
.deco-circle-green { top: -150px;right: -200px;}
.deco-pie-up { top: 200px; right: 200px; }
.deco-pie .each-pie { width: 140px;}
.story-title { transform: scale(0.8); -webkit-transform: scale(0.8);-ms-transform: scale(0.8);-o-transform: scale(0.8);margin: 0;}
.page-intro .intro-des { max-width: 600px; font-size:22px;  }

}

/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {

.img-pc { display:none; }
.img-m { display:block; }
.wrap { overflow-x: hidden; }
.intro-desc { display: none; } 
.intro-desc-m { display:block;     padding: 20px;} 
/* #header - GNB */
#header { display:none;  }
#header-m { display: block;position: fixed; left: 0; right: 0; width: 100%;  z-index: 30; top: 0;}
#header-m:after {content:""; position:absolute; left:0; bottom:0px; width:100%; height:1px; background-color:#dbdde0;}
#header-m.header {transition: All 0.3s ease-in-out;-webkit-transition: All 0.3s ease-in-out;-moz-transition: All 0.3s ease-in-out;-o-transition: All 0.3s ease-in-out;}
#header-m.header.hidetop {top:-50px;}
.head_article .common-header-title .tit_svc {  height: 34px; text-align: center;}
.screen_out {   overflow: hidden;position: absolute;  width: 0;height: 0; line-height: 0; text-indent: -9999px;}
.head_article {position:fixed; top:-60px; width:100%; min-width:320px; -webkit-transform:translate3d(0,0,0); z-index:100; transition:All 0.3s ease-in-out; -webkit-transition:All 0.3s ease-in-out; -moz-transition:All 0.3s ease-in-out; -o-transition:All 0.3s ease-in-out;}
.head_article.on {top:0;}
.head_article .common-header-title {position:relative; height:38px; border-bottom:1px solid #f0f0f0; background-color:#fff;}
.head_article .common-header-title .tit_svc {height:34px; text-align:center;}
.head_article .box_menu_left {position:absolute; left:7px; top:0; z-index:20;}
.head_article .box_menu_left .btn_menu {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_menu .ico_menu {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_menu.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_left .btn_gohome {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_gohome .ico_gohome {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_gohome.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_right {position:absolute; right:5px; top:0; z-index:20;}
.box_menu_btn {float:left; width:auto; height:38px; margin:0 7px;}
.box_menu_btn em {position:relative; top:-3px; margin-left:3px; font-size:12px;}
.box_menu_right .btn_scrap .ico_scrap {display:inline-block; width:18px; height:21px; margin:11px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_art_top_scrap.png") no-repeat 0 0; background-size:12px 18px; text-indent:-9999px;}
.box_menu_right .btn_share .ico_share {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_share.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.box_menu_right .btn_reply .ico_reply {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_reply.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.pc-share { display:none; }
.share_bx { float: none; top:0; }
.share_bx > div {  float: left;  }
.share_bx > div a { width: 100%; }
.share_bx > div a img { width:100%; }
.share_bx > .share_fb {width: 15px; margin: 7px 5px;}
.share_bx > .share_tw {width: 20px; margin: 5px 5px;}
.common-footer #footer { display:none;}
.common-footer #footer-m { display:block;}
.art_header { display:block; position: relative; margin-bottom: 15px; padding: 20px 20px 0; padding-top: 45px;}
.header_tit_serial {   margin: 7px 0 4px; color: #4469B0; font-size: 13px; font-weight: 700; letter-spacing: -0.075em;}
.header_tit_serial a {color: #4469B0; }
.art_header .tit_view {   overflow: hidden;  margin-top: 4px;font-weight: normal;color: #121212; font-size: 24px; line-height: 29px;letter-spacing: -0.025em;}

.deco-circle {width: 250px; height: 250px; }
.back-deco { display:none; }
.story-title { transform: none; -webkit-transform: none;-ms-transform:none; -o-transform:none;}
.story-title .title-img-area { width: 100%; margin-left: 0; left: 0;    height: auto;}
.story-title .title-img-area .title-up{ width: 350px; height: 28px; left: 50%;  margin-left: -175px;  top: 150px;}
.story-title .title-img-area > div > .title-img { width: 350px; height: 28px; }
.story-title .title-img-area > div > .title-img > img { height:28px; }
.story-title .title-img-area .title-down {  width: 244px; height: 28px;margin-left: -122px;top: 190px;}
.page-intro .intro-des {   font-size: 20px;line-height: 1.6; padding: 0px 17px;  margin: 40px auto;}
.btn-holder { margin: 30px auto; }
.button { padding: 20px; }
.button p { font-size: 16px; }
.label-text {font-size: 10px; color: #222; opacity: 0.8;  text-align: center;  margin-top: 5px;}
.test-area { padding: 40px 0; padding-bottom: 20px;  }
.test-area-body { padding-bottom:0; }
.test-area .test-area-header { width: 92%; padding: 25px 0; }
.test-area .test-area-header h2 { font-size: 24px; }
.test-area .test-area-header .test-des { font-size: 15px; }
.test-area .test-area-header .test-des .jump { display:block; }
.test-area-body .que-list > ul > li { margin: 40px auto;  margin-top: 60px;}
.each-que-lead { font-size: 17px;width: 100%;box-sizing: border-box;padding: 0px 10px;  margin-bottom: 15px;}
.each-que-lead .numbering { font-size: 15px; }
.each-que-lead .que u  {border-bottom: 0; }
.test-area-body .que-list > ul { padding-bottom: 50px; }
.radioBtn-holder { box-sizing:border-box; padding: 0px 15px;  }
.radioBtn-holder > ul > .title {font-size: 14px;top: 40px; line-height:1;  }
#queList li .each-scale { padding: 0 2px; }
#queList li .each-scale .anw-button { width: 28px; height:28px; margin-top: 0;    border: 3px solid #111;}
#queList li .scale-5 .anw-button { transform: scale(1); transform-origin: center; }
#queList li .scale-4 .anw-button { transform: scale(0.92); transform-origin: center;}
#queList li .scale-3 .anw-button {transform: scale(0.85); transform-origin: center;}
#queList li .scale-2 .anw-button {transform: scale(0.78); transform-origin: center;}
#queList li .scale-1 .anw-button {transform: scale(0.71); transform-origin: center;}
#queList li .anw-major .title {  left:0; }
#queList li .anw-minor .title { right:0; }
.user-info-form { padding: 30px 0; }
.user-info-que-header .des { font-size: 14.5px; }
.user-info-que-list > ul > li {margin: 30px auto; }
.que-info { font-size: 13px; }
.anw-noraml .each-scale { padding: 0px 5px; }
.each-que-lead .sm  {font-size: 14px;font-weight: normal; box-sizing: border-box;  padding: 0px 20px;}
.user-info-que-list .each-que-lead { margin-bottom: 10px; }
.text-area-holder {  box-sizing: border-box;padding: 0px 20px;}
.form-text-area {    box-sizing: border-box;}

.result-area {  padding: 40px 0; padding-bottom: 20px; }
.user-result-header { width: 92%; padding: 25px 0; }
.user-result-header h2 { font-size: 24px; }
.user-result-header .user-result-desc { font-size: 15px; }
.result-chart { padding: 20px 0; }
.user-result-chart-holder .each-graph { fill-opacity:1; }
.result-percent-bar {  width: 100%; box-sizing: border-box; padding: 0px 15px; }
.result-percent-bar .percent-bar .side-minor { font-size: 14px; font-weight:bold; }
.result-percent-bar .percent-bar .side-major {  font-size: 14px; font-weight:bold; }
.result-table {padding: 20px 12px; }
.result-table ul li { font-size: 14.5px; margin: 3px 0; } 
.result-table ul li .text .head { padding-right: 5px; }
.result-table ul li .scale-block-holder .scale-block { width: 12px; height: 12px;  }
.user-result-share .user-share-btn-box {width: 100%; box-sizing: border-box; padding: 0px 10px;}
.user-share-btn { border-radius: 3px; }

.interviewee-result {  margin-top: 100px;}
.interviewee-result-header { width: 92%; padding: 25px 0; }
.interviewee-result-header h2 { font-size: 24px; line-height: 1.3;}
.interviewee-result-header h2 .jump { display:block; }
.each-interviewee .interviewee-col-2 .col-profile { width :100%; display: block; }
.each-interviewee .interviewee-col-2 .col-profile .thumb-box .thumb-img { width: 150px; }
.each-interviewee .interviewee-col-2 .col-profile .thumb-box { margin-bottom: 15px; }
.each-interviewee .result-table ul li {  width: 50%; float: left;}
.each-interviewee .interviewee-col-2 .col-contents {width :100%; display: block; padding: 0px; margin-top: 30px;}
.each-interviewee .interviewee-col-2 .col-contents .article-ment { margin-top: 30px; width :100%; padding: 0px 15px;box-sizing: border-box;} 
.each-interviewee .interviewee-col-2 .col-contents .article-ment p {font-size: 20px;line-height: 1.6; }
.go-article { right: 15px; }
.each-interviewee .interviewee-col-2 .col-contents .interviewee-chart  { margin-bottom: 30px; }

.rel-article {  width: 100%;box-sizing: border-box; padding: 30px 15px; padding-top: 0;}
.rel-article .rel-box .rel-art-list ul li a { font-size: 15px; line-height:1.5;}
.digital-list-wrap  {border-top: none;}
.bottom-byline { margin-top: 0; }
.bottom-byline ul .team-wrap { width: 100%; float: none; }
.common-footer { display:none;}

}

/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}